  .partone{
    margin-left: 3rem;
} 

/* .qee{
    width: 50.5%;
    margin-left:2rem;
   margin-top: 1rem;

} */

/* form.help input[type=text]{
    width: 25%;
    font-size: larger;
    margin-top: 1.5rem;

}
.qaa{
    width: 15.5%;
    margin: 0;
    margin-top: 1rem;
}

.eca{
    margin-left: 2rem;
}

.opti{
    width: 15.5%;
  
   margin-top: 1rem;
}
.tagg{
    display: flex;
    text-decoration: underline;
}
.monk{
    margin-left: 2rem;
} */

/* .firm   {
    display: flex;
    /* justify-content: space-between; */
   


.bonk{
    width: 40%;
   
}
.pizz{
    margin-left: 5rem;
}

.gory{
    margin: 0;
    display: flex;
}


.gory{
    margin-left: 3rem;
    display: flex;
}
.arrow{
    margin-left: 2rem;
}

.inshell{
    margin-left: 5.5rem;
}

.post{
    margin-left: 5.5rem;
}
