.more{
    text-decoration: underline;
    color: #2393ee ;
}
.texxt{
    margin-left:-2rem;
}


.deed{
    
    margin-top: 3rem;
} 

 .line{
    width: 30%;
  
} 

.duty{
    width: 60%;
    /* background-color: blue */
}
.install{
    margin-left: 2rem;
}


